<strong>Title</strong>:<%= @book.title %>
<br>
<strong>Body</strong>:<%= @book.body %>
<br>
<br>
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<br>
<%= link_to 'Edit', edit_book_path(@book.id), class: "edit_#{@book.id}" %>｜<%= link_to 'Back', "/books", class: "back" %>