
<%= render 'users/userinfo', user: @user %>
<%= render 'books/newbook', book: @book %>

<h1>Book Detail</h1>

<table>
<tbody>
    <tr>
      <td> <%= link_to "/users/#{@user.id}", class: "user_#{@user.id}" do %>
        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg",  size: "100x100", class: "img-circle pull-left profile-thumb" %>
      <% end %> </td>
      <td><%= link_to @book.title, "/books/#{@book.id}", class: "book_#{@book.id}" %></td>
      <td><%= @book.opinion %></td>
      <% if @book.user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_book_path(@book), class: "edit_book_#{@book.id}" %></td>
        <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?'}, class: "destroy_book_#{@book.id}"  %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= render 'layouts/notice' %>

<br>

<% if @book.user.id == current_user.id %>
  <p><%= link_to 'Edit', edit_book_path(@book.id), class: "edit_book_#{@book.id}" %></p>
<% end %>


<%= link_to 'Back', "/books", class: "back" %>